<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="index, follow, all" />
        <title>Encore\View\Style\StyleCollection | API</title>
                    <link rel="stylesheet" type="text/css" href="../../../stylesheet.css">
                            </head>
        <body id="class">
            <div class="header">
        <ul>
            <li><a href="../../../classes.html">Classes</a></li>
                            <li><a href="../../../namespaces.html">Namespaces</a></li>
                        <li><a href="../../../interfaces.html">Interfaces</a></li>
            <li><a href="../../../traits.html">Traits</a></li>
            <li><a href="../../../doc-index.html">Index</a></li>
            
        </ul>

        <div id="title">API</div>

            <div class="type">Class</div>
    <h1><a href="../../../Encore/View/Style.html">Encore\View\Style</a>\StyleCollection</h1>
    </div>
        <div class="content">
                <p>    class
    <strong>StyleCollection</strong></p>

    
    
    
            <h2>Methods</h2>

            <table>
                    <tr>
                <td class="type">
                    
                </td>
                <td class="last">
                    <a href="#method_addByClass">addByClass</a>(string $class, array $styles)
                    <p>Add a style by class</p>
                </td>
                <td></td>
            </tr>
                    <tr>
                <td class="type">
                    array
                </td>
                <td class="last">
                    <a href="#method_getByClass">getByClass</a>(string $class)
                    <p>Get styles by class</p>
                </td>
                <td></td>
            </tr>
                    <tr>
                <td class="type">
                    
                </td>
                <td class="last">
                    <a href="#method_addById">addById</a>(string $id, array $styles)
                    <p>Add a style by ID</p>
                </td>
                <td></td>
            </tr>
                    <tr>
                <td class="type">
                    array
                </td>
                <td class="last">
                    <a href="#method_getById">getById</a>(string $id)
                    <p>Get style by ID</p>
                </td>
                <td></td>
            </tr>
                    <tr>
                <td class="type">
                    
                </td>
                <td class="last">
                    <a href="#method_addByElement">addByElement</a>(string $element, array $styles)
                    <p>Add style by element name</p>
                </td>
                <td></td>
            </tr>
                    <tr>
                <td class="type">
                    array
                </td>
                <td class="last">
                    <a href="#method_getByElement">getByElement</a>(string $element)
                    <p>Get style by element name</p>
                </td>
                <td></td>
            </tr>
            </table>


        <h2>Details</h2>

                        <h3 id="method_addByClass">
        <div class="location">at line 17</div>
        <code>            public            
    <strong>addByClass</strong>(string $class, array $styles)</code>
    </h3>
    <div class="details">
        <p>Add a style by class</p>
        <p>
</p>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table>
                    <tr>
                <td>string</td>
                <td>$class</td>
                <td>
</td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$styles</td>
                <td>
</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

                <h3 id="method_getByClass">
        <div class="location">at line 28</div>
        <code>            public            array
    <strong>getByClass</strong>(string $class)</code>
    </h3>
    <div class="details">
        <p>Get styles by class</p>
        <p>
</p>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table>
                    <tr>
                <td>string</td>
                <td>$class</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table>
        <tr>
            <td>array</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

                <h3 id="method_addById">
        <div class="location">at line 40</div>
        <code>            public            
    <strong>addById</strong>(string $id, array $styles)</code>
    </h3>
    <div class="details">
        <p>Add a style by ID</p>
        <p>
</p>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table>
                    <tr>
                <td>string</td>
                <td>$id</td>
                <td>
</td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$styles</td>
                <td>[description]</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

                <h3 id="method_getById">
        <div class="location">at line 51</div>
        <code>            public            array
    <strong>getById</strong>(string $id)</code>
    </h3>
    <div class="details">
        <p>Get style by ID</p>
        <p>
</p>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table>
                    <tr>
                <td>string</td>
                <td>$id</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table>
        <tr>
            <td>array</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

                <h3 id="method_addByElement">
        <div class="location">at line 64</div>
        <code>            public            
    <strong>addByElement</strong>(string $element, array $styles)</code>
    </h3>
    <div class="details">
        <p>Add style by element name</p>
        <p>
</p>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table>
                    <tr>
                <td>string</td>
                <td>$element</td>
                <td>
</td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$styles</td>
                <td>
</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

                <h3 id="method_getByElement">
        <div class="location">at line 75</div>
        <code>            public            array
    <strong>getByElement</strong>(string $element)</code>
    </h3>
    <div class="details">
        <p>Get style by element name</p>
        <p>
</p>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table>
                    <tr>
                <td>string</td>
                <td>$element</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table>
        <tr>
            <td>array</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

    
            </div>
            <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/" target="_top">Sami, the API Documentation Generator</a>.
    </div>
    </body>
</html>
