<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="index, follow, all" />
        <title>Classes | API</title>
                    <link rel="stylesheet" type="text/css" href="stylesheet.css">
                            </head>
        <body id="overview">
            <div class="header">
        <ul>
            <li><a href="classes.html">Classes</a></li>
                            <li><a href="namespaces.html">Namespaces</a></li>
                        <li><a href="interfaces.html">Interfaces</a></li>
            <li><a href="traits.html">Traits</a></li>
            <li><a href="doc-index.html">Index</a></li>
            
        </ul>

        <div id="title">API</div>

            <h1>Classes</h1>
    </div>
        <div class="content">
                <table>
                    <tr>
                <td>
                                        <a href="Encore/Compiler/Command.html" target="main"><abbr title="Encore\Compiler\Command">Encore\Compiler\Command</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Compiler/ServiceProvider.html" target="main"><abbr title="Encore\Compiler\ServiceProvider">Encore\Compiler\ServiceProvider</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Composer/Script.html" target="main"><abbr title="Encore\Composer\Script">Encore\Composer\Script</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Config/FileLoader.html" target="main"><abbr title="Encore\Config\FileLoader">Encore\Config\FileLoader</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/Config/LoaderInterface.html" target="main"><abbr title="Encore\Config\LoaderInterface">Encore\Config\LoaderInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Config/Proxy.html" target="main"><abbr title="Encore\Config\Proxy">Encore\Config\Proxy</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Config/Repository.html" target="main"><abbr title="Encore\Config\Repository">Encore\Config\Repository</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Config/ServiceProvider.html" target="main"><abbr title="Encore\Config\ServiceProvider">Encore\Config\ServiceProvider</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Console/Application.html" target="main"><abbr title="Encore\Console\Application">Encore\Console\Application</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Console/Command.html" target="main"><abbr title="Encore\Console\Command">Encore\Console\Command</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Console/Error/ConsoleDisplayer.html" target="main"><abbr title="Encore\Console\Error\ConsoleDisplayer">Encore\Console\Error\ConsoleDisplayer</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Console/Proxy.html" target="main"><abbr title="Encore\Console\Proxy">Encore\Console\Proxy</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Console/ServiceProvider.html" target="main"><abbr title="Encore\Console\ServiceProvider">Encore\Console\ServiceProvider</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Container/Container.html" target="main"><abbr title="Encore\Container\Container">Encore\Container\Container</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/Container/ContainerAwareInterface.html" target="main"><abbr title="Encore\Container\ContainerAwareInterface">Encore\Container\ContainerAwareInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Container/ContainerAwareTrait.html" target="main"><abbr title="Encore\Container\ContainerAwareTrait">Encore\Container\ContainerAwareTrait</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Container/Definition.html" target="main"><abbr title="Encore\Container\Definition">Encore\Container\Definition</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/Container/EventDispatcherInterface.html" target="main"><abbr title="Encore\Container\EventDispatcherInterface">Encore\Container\EventDispatcherInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Container/Proxy.html" target="main"><abbr title="Encore\Container\Proxy">Encore\Container\Proxy</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Container/ServiceProvider.html" target="main"><abbr title="Encore\Container\ServiceProvider">Encore\Container\ServiceProvider</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Controller/Controller.html" target="main"><abbr title="Encore\Controller\Controller">Encore\Controller\Controller</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/Controller/ControllerAwareInterface.html" target="main"><abbr title="Encore\Controller\ControllerAwareInterface">Encore\Controller\ControllerAwareInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Controller/ControllerAwareTrait.html" target="main"><abbr title="Encore\Controller\ControllerAwareTrait">Encore\Controller\ControllerAwareTrait</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Controller/ServiceProvider.html" target="main"><abbr title="Encore\Controller\ServiceProvider">Encore\Controller\ServiceProvider</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Database/Command/GenerateMigration.html" target="main"><abbr title="Encore\Database\Command\GenerateMigration">Encore\Database\Command\GenerateMigration</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Database/Command/GenerateModel.html" target="main"><abbr title="Encore\Database\Command\GenerateModel">Encore\Database\Command\GenerateModel</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Database/Command/MigrationDown.html" target="main"><abbr title="Encore\Database\Command\MigrationDown">Encore\Database\Command\MigrationDown</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Database/Command/MigrationMigrate.html" target="main"><abbr title="Encore\Database\Command\MigrationMigrate">Encore\Database\Command\MigrationMigrate</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Database/Command/MigrationStatus.html" target="main"><abbr title="Encore\Database\Command\MigrationStatus">Encore\Database\Command\MigrationStatus</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Database/Command/MigrationUp.html" target="main"><abbr title="Encore\Database\Command\MigrationUp">Encore\Database\Command\MigrationUp</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Development/Command/Debug.html" target="main"><abbr title="Encore\Development\Command\Debug">Encore\Development\Command\Debug</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Development/ServiceProvider.html" target="main"><abbr title="Encore\Development\ServiceProvider">Encore\Development\ServiceProvider</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Development/TaskInfo.html" target="main"><abbr title="Encore\Development\TaskInfo">Encore\Development\TaskInfo</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Development/Task/Composer/loadTasks.html" target="main"><abbr title="Encore\Development\Task\Composer\loadTasks">Encore\Development\Task\Composer\loadTasks</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Development/Tasks.html" target="main"><abbr title="Encore\Development\Tasks">Encore\Development\Tasks</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Error/Displayer/BasicDisplayer.html" target="main"><abbr title="Encore\Error\Displayer\BasicDisplayer">Encore\Error\Displayer\BasicDisplayer</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/Error/Displayer/DisplayerInterface.html" target="main"><abbr title="Encore\Error\Displayer\DisplayerInterface">Encore\Error\Displayer\DisplayerInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Error/ExceptionHandler.html" target="main"><abbr title="Encore\Error\ExceptionHandler">Encore\Error\ExceptionHandler</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Error/Handler.html" target="main"><abbr title="Encore\Error\Handler">Encore\Error\Handler</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Error/Proxy.html" target="main"><abbr title="Encore\Error\Proxy">Encore\Error\Proxy</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Error/ServiceProvider.html" target="main"><abbr title="Encore\Error\ServiceProvider">Encore\Error\ServiceProvider</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Events/ContainerDispatcher.html" target="main"><abbr title="Encore\Events\ContainerDispatcher">Encore\Events\ContainerDispatcher</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Events/Dispatcher.html" target="main"><abbr title="Encore\Events\Dispatcher">Encore\Events\Dispatcher</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/Events/DispatcherInterface.html" target="main"><abbr title="Encore\Events\DispatcherInterface">Encore\Events\DispatcherInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Events/Proxy.html" target="main"><abbr title="Encore\Events\Proxy">Encore\Events\Proxy</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Events/ServiceProvider.html" target="main"><abbr title="Encore\Events\ServiceProvider">Encore\Events\ServiceProvider</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Filesystem/FileNotFoundException.html" target="main"><abbr title="Encore\Filesystem\FileNotFoundException">Encore\Filesystem\FileNotFoundException</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Filesystem/Filesystem.html" target="main"><abbr title="Encore\Filesystem\Filesystem">Encore\Filesystem\Filesystem</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Filesystem/Proxy.html" target="main"><abbr title="Encore\Filesystem\Proxy">Encore\Filesystem\Proxy</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Filesystem/ServiceProvider.html" target="main"><abbr title="Encore\Filesystem\ServiceProvider">Encore\Filesystem\ServiceProvider</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/Giml/CollectionInterface.html" target="main"><abbr title="Encore\Giml\CollectionInterface">Encore\Giml\CollectionInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Giml/ElementCollection.html" target="main"><abbr title="Encore\Giml\ElementCollection">Encore\Giml\ElementCollection</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/Giml/ElementFactoryInterface.html" target="main"><abbr title="Encore\Giml\ElementFactoryInterface">Encore\Giml\ElementFactoryInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/Giml/ElementInterface.html" target="main"><abbr title="Encore\Giml\ElementInterface">Encore\Giml\ElementInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Giml/ElementTrait.html" target="main"><abbr title="Encore\Giml\ElementTrait">Encore\Giml\ElementTrait</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Giml/Exception/DuplicateIdException.html" target="main"><abbr title="Encore\Giml\Exception\DuplicateIdException">Encore\Giml\Exception\DuplicateIdException</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Giml/Exception/InvalidElementException.html" target="main"><abbr title="Encore\Giml\Exception\InvalidElementException">Encore\Giml\Exception\InvalidElementException</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Giml/NamespaceElementFactory.html" target="main"><abbr title="Encore\Giml\NamespaceElementFactory">Encore\Giml\NamespaceElementFactory</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Giml/Parser.html" target="main"><abbr title="Encore\Giml\Parser">Encore\Giml\Parser</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Giml/Reader.html" target="main"><abbr title="Encore\Giml\Reader">Encore\Giml\Reader</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/Giml/ReaderInterface.html" target="main"><abbr title="Encore\Giml\ReaderInterface">Encore\Giml\ReaderInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Giml/Reservation/RequireReservation.html" target="main"><abbr title="Encore\Giml\Reservation\RequireReservation">Encore\Giml\Reservation\RequireReservation</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/Giml/Reservation/ReservationInterface.html" target="main"><abbr title="Encore\Giml\Reservation\ReservationInterface">Encore\Giml\Reservation\ReservationInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Giml/Reservation/ReservationTrait.html" target="main"><abbr title="Encore\Giml\Reservation\ReservationTrait">Encore\Giml\Reservation\ReservationTrait</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Giml/ServiceProvider.html" target="main"><abbr title="Encore\Giml\ServiceProvider">Encore\Giml\ServiceProvider</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Kernel/AliasLoader.html" target="main"><abbr title="Encore\Kernel\AliasLoader">Encore\Kernel\AliasLoader</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Kernel/Application.html" target="main"><abbr title="Encore\Kernel\Application">Encore\Kernel\Application</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Kernel/Proxy/App.html" target="main"><abbr title="Encore\Kernel\Proxy\App">Encore\Kernel\Proxy\App</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Kernel/Timezone.html" target="main"><abbr title="Encore\Kernel\Timezone">Encore\Kernel\Timezone</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Namespacer/Namespacable.html" target="main"><abbr title="Encore\Namespacer\Namespacable">Encore\Namespacer\Namespacable</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/Namespacer/NamespacableInterface.html" target="main"><abbr title="Encore\Namespacer\NamespacableInterface">Encore\Namespacer\NamespacableInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Namespacer/NamespacableTrait.html" target="main"><abbr title="Encore\Namespacer\NamespacableTrait">Encore\Namespacer\NamespacableTrait</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Namespacer/Resolver.html" target="main"><abbr title="Encore\Namespacer\Resolver">Encore\Namespacer\Resolver</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/Namespacer/ResolverInterface.html" target="main"><abbr title="Encore\Namespacer\ResolverInterface">Encore\Namespacer\ResolverInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Repl/Command.html" target="main"><abbr title="Encore\Repl\Command">Encore\Repl\Command</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Repl/ServiceProvider.html" target="main"><abbr title="Encore\Repl\ServiceProvider">Encore\Repl\ServiceProvider</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Repl/ShallowParser.html" target="main"><abbr title="Encore\Repl\ShallowParser">Encore\Repl\ShallowParser</abbr></a>
                                    </td>
                <td>
                    The ShallowParser takes whatever is currently buffered and chunks it into individual statements.
                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Resource/Command/Publish.html" target="main"><abbr title="Encore\Resource\Command\Publish">Encore\Resource\Command\Publish</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Resource/FileFinder.html" target="main"><abbr title="Encore\Resource\FileFinder">Encore\Resource\FileFinder</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/Resource/FinderInterface.html" target="main"><abbr title="Encore\Resource\FinderInterface">Encore\Resource\FinderInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Resource/FinderTrait.html" target="main"><abbr title="Encore\Resource\FinderTrait">Encore\Resource\FinderTrait</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Resource/ServiceProvider.html" target="main"><abbr title="Encore\Resource\ServiceProvider">Encore\Resource\ServiceProvider</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Testing/Command.html" target="main"><abbr title="Encore\Testing\Command">Encore\Testing\Command</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Testing/ServiceProvider.html" target="main"><abbr title="Encore\Testing\ServiceProvider">Encore\Testing\ServiceProvider</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/View/Manager.html" target="main"><abbr title="Encore\View\Manager">Encore\View\Manager</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/View/Parser/Style/ParserInterface.html" target="main"><abbr title="Encore\View\Parser\Style\ParserInterface">Encore\View\Parser\Style\ParserInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/View/Parser/Style/Yaml.html" target="main"><abbr title="Encore\View\Parser\Style\Yaml">Encore\View\Parser\Style\Yaml</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/View/Parser/View/Giml.html" target="main"><abbr title="Encore\View\Parser\View\Giml">Encore\View\Parser\View\Giml</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/View/Parser/View/ParserInterface.html" target="main"><abbr title="Encore\View\Parser\View\ParserInterface">Encore\View\Parser\View\ParserInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/View/Proxy.html" target="main"><abbr title="Encore\View\Proxy">Encore\View\Proxy</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/View/ServiceProvider.html" target="main"><abbr title="Encore\View\ServiceProvider">Encore\View\ServiceProvider</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                    <em>                    <a href="Encore/View/Style/StyleAwareInterface.html" target="main"><abbr title="Encore\View\Style\StyleAwareInterface">Encore\View\Style\StyleAwareInterface</abbr></a>
                    </em>                </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/View/Style/StyleCollection.html" target="main"><abbr title="Encore\View\Style\StyleCollection">Encore\View\Style\StyleCollection</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/View/View.html" target="main"><abbr title="Encore\View\View">Encore\View\View</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/ClosureCallback.html" target="main"><abbr title="Encore\Wx\ClosureCallback">Encore\Wx\ClosureCallback</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Collection.html" target="main"><abbr title="Encore\Wx\Collection">Encore\Wx\Collection</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Command/Install.html" target="main"><abbr title="Encore\Wx\Command\Install">Encore\Wx\Command\Install</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/BoxSizer.html" target="main"><abbr title="Encore\Wx\Element\BoxSizer">Encore\Wx\Element\BoxSizer</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/Button.html" target="main"><abbr title="Encore\Wx\Element\Button">Encore\Wx\Element\Button</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/CheckBox.html" target="main"><abbr title="Encore\Wx\Element\CheckBox">Encore\Wx\Element\CheckBox</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/DatePicker.html" target="main"><abbr title="Encore\Wx\Element\DatePicker">Encore\Wx\Element\DatePicker</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/Frame.html" target="main"><abbr title="Encore\Wx\Element\Frame">Encore\Wx\Element\Frame</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/Label.html" target="main"><abbr title="Encore\Wx\Element\Label">Encore\Wx\Element\Label</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/Menu.html" target="main"><abbr title="Encore\Wx\Element\Menu">Encore\Wx\Element\Menu</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/MenuBar.html" target="main"><abbr title="Encore\Wx\Element\MenuBar">Encore\Wx\Element\MenuBar</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/MenuItem.html" target="main"><abbr title="Encore\Wx\Element\MenuItem">Encore\Wx\Element\MenuItem</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/Panel.html" target="main"><abbr title="Encore\Wx\Element\Panel">Encore\Wx\Element\Panel</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/RadioButton.html" target="main"><abbr title="Encore\Wx\Element\RadioButton">Encore\Wx\Element\RadioButton</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/Raw/TaskBarIcon.html" target="main"><abbr title="Encore\Wx\Element\Raw\TaskBarIcon">Encore\Wx\Element\Raw\TaskBarIcon</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/TaskBarIcon.html" target="main"><abbr title="Encore\Wx\Element\TaskBarIcon">Encore\Wx\Element\TaskBarIcon</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/TextBox.html" target="main"><abbr title="Encore\Wx\Element\TextBox">Encore\Wx\Element\TextBox</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/Traits/Events.html" target="main"><abbr title="Encore\Wx\Element\Traits\Events">Encore\Wx\Element\Traits\Events</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/Traits/Options.html" target="main"><abbr title="Encore\Wx\Element\Traits\Options">Encore\Wx\Element\Traits\Options</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/Traits/Positionable.html" target="main"><abbr title="Encore\Wx\Element\Traits\Positionable">Encore\Wx\Element\Traits\Positionable</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/Traits/Sizable.html" target="main"><abbr title="Encore\Wx\Element\Traits\Sizable">Encore\Wx\Element\Traits\Sizable</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/Traits/Wx.html" target="main"><abbr title="Encore\Wx\Element\Traits\Wx">Encore\Wx\Element\Traits\Wx</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Element/WebView.html" target="main"><abbr title="Encore\Wx\Element\WebView">Encore\Wx\Element\WebView</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/ServiceProvider.html" target="main"><abbr title="Encore\Wx\ServiceProvider">Encore\Wx\ServiceProvider</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
                    <tr>
                <td>
                                        <a href="Encore/Wx/Widgets.html" target="main"><abbr title="Encore\Wx\Widgets">Encore\Wx\Widgets</abbr></a>
                                    </td>
                <td>
                    

                </td>
            </tr>
            </table>
        </div>
            <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/" target="_top">Sami, the API Documentation Generator</a>.
    </div>
    </body>
</html>
