<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="index, follow, all" />
        <title>Interfaces | API</title>
                    <link rel="stylesheet" type="text/css" href="stylesheet.css">
                            </head>
        <body id="overview">
            <div class="header">
        <ul>
            <li><a href="classes.html">Classes</a></li>
                            <li><a href="namespaces.html">Namespaces</a></li>
                        <li><a href="interfaces.html">Interfaces</a></li>
            <li><a href="traits.html">Traits</a></li>
            <li><a href="doc-index.html">Index</a></li>
            
        </ul>

        <div id="title">API</div>

            <h1>Interfaces</h1>
    </div>
        <div class="content">
                <table>
                    <tr>
                <td><a href="Encore/Config/LoaderInterface.html" target="main"><abbr title="Encore\Config\LoaderInterface">Encore\Config\LoaderInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/Container/ContainerAwareInterface.html" target="main"><abbr title="Encore\Container\ContainerAwareInterface">Encore\Container\ContainerAwareInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/Container/EventDispatcherInterface.html" target="main"><abbr title="Encore\Container\EventDispatcherInterface">Encore\Container\EventDispatcherInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/Controller/ControllerAwareInterface.html" target="main"><abbr title="Encore\Controller\ControllerAwareInterface">Encore\Controller\ControllerAwareInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/Error/Displayer/DisplayerInterface.html" target="main"><abbr title="Encore\Error\Displayer\DisplayerInterface">Encore\Error\Displayer\DisplayerInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/Events/DispatcherInterface.html" target="main"><abbr title="Encore\Events\DispatcherInterface">Encore\Events\DispatcherInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/Giml/CollectionInterface.html" target="main"><abbr title="Encore\Giml\CollectionInterface">Encore\Giml\CollectionInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/Giml/ElementFactoryInterface.html" target="main"><abbr title="Encore\Giml\ElementFactoryInterface">Encore\Giml\ElementFactoryInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/Giml/ElementInterface.html" target="main"><abbr title="Encore\Giml\ElementInterface">Encore\Giml\ElementInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/Giml/ReaderInterface.html" target="main"><abbr title="Encore\Giml\ReaderInterface">Encore\Giml\ReaderInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/Giml/Reservation/ReservationInterface.html" target="main"><abbr title="Encore\Giml\Reservation\ReservationInterface">Encore\Giml\Reservation\ReservationInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/Namespacer/NamespacableInterface.html" target="main"><abbr title="Encore\Namespacer\NamespacableInterface">Encore\Namespacer\NamespacableInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/Namespacer/ResolverInterface.html" target="main"><abbr title="Encore\Namespacer\ResolverInterface">Encore\Namespacer\ResolverInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/Resource/FinderInterface.html" target="main"><abbr title="Encore\Resource\FinderInterface">Encore\Resource\FinderInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/View/Parser/Style/ParserInterface.html" target="main"><abbr title="Encore\View\Parser\Style\ParserInterface">Encore\View\Parser\Style\ParserInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/View/Parser/View/ParserInterface.html" target="main"><abbr title="Encore\View\Parser\View\ParserInterface">Encore\View\Parser\View\ParserInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
                    <tr>
                <td><a href="Encore/View/Style/StyleAwareInterface.html" target="main"><abbr title="Encore\View\Style\StyleAwareInterface">Encore\View\Style\StyleAwareInterface</abbr></a></td>
                <td class="last">
                    

                </td>
            </tr>
            </table>
        </div>
            <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/" target="_top">Sami, the API Documentation Generator</a>.
    </div>
    </body>
</html>
